$primary: rgb(57, 103, 201);
$secondary: rgb(72, 72, 104);
$success:  rgb(59, 143, 59);
$info: rgb(17, 17, 17);
$warning: orange;
$danger: rgb(172, 53, 53);
$light: rgb(250, 225, 225);
$dark: rgb(36, 32, 32);

@import "../bootstrap/scss/bootstrap.scss"


